@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&family=Righteous&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orangebackgroundcolor: #f97f0f;
  --darkgraybackgroundcolor: #08748c;
  --backgroundcolor: #08748c4d;
}
header {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  width: 100%;
  /* border: 2px solid yellow; */
  background-color: var(--darkgraybackgroundcolor);
}

#anchor-nav {
  text-decoration: none;
  color: white;
}

.anchor-nav {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-right: 250px;
}

.button-navs {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.button-nav {
  border: none;
  background-color: var(--orangebackgroundcolor);
  color: white;
  border-radius: 6px;
  height: 40px;
  width: 170px;
}

#button2-nav {
  width: 120px;
  background-color: transparent;
  color: var(--orangebackgroundcolor);
  border: 1px solid var(--orangebackgroundcolor);
}

.button-nav:hover {
  background-color: white;
  color: var(--darkgraybackgroundcolor);
}

#button2-nav:hover {
  background-color: ;
  color: black;
  border: 1px solid black;
}

#list-desktop {
  display: flex;
  justify-content: space-around;
  display: none;
}

.hamburger {
  /* border: 2px solid red; */
  /* width: 90px; */
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
}

.hamburger div {
  height: 5px;
  background-color: white;
  width: 40px;
  border-radius: 5px;
}

@media (min-width: 800px) {
  #list-desktop {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

/* hero section */

.hero-sec {
  background-color: var(--backgroundcolor);
  height: 350px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
}

.hero-h1 {
  text-transform: capitalize;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
}

.hero-p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.hero-btn1 {
  border: none;
  background-color: var(--orangebackgroundcolor);
  color: white;
  border-radius: 6px;
  height: 40px;
  width: 220px;
}

.hero-btn2 {
  width: 220px;
  background-color: transparent;
  color: var(--orangebackgroundcolor);
  border: 1px solid var(--orangebackgroundcolor);
  border-radius: 6px;
  height: 40px;
  margin-top: 25px;
}

.hero-btn1:hover {
  background-color: white;
  color: var(--darkgraybackgroundcolor);
}

.hero-btn2:hover {
  color: black;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .hero-sec {
    height: 720px;
  }

  .hero-texts {
    width: 530px;
  }
  .hero-h1 {
    font-size: 65px;
  }
  .hero-btn1 {
    width: 240px;
  }
  .hero-btn2 {
    width: 240px;
    margin-left: 20px;
  }

  .hero-p {
    font-size: 20px;
  }
}

/* sessions */
.sessions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fcbb80;
  border-radius: 15px;
  height: 120px;
  margin-top: -50px;
  display: none;
}

.sessions h2 {
  font-family: "Righteous", sans-serif;
  font-size: 41px;
  font-weight: 400;
}

.sessions p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

@media (min-width: 768px) {
  .sessions {
    display: flex;
  }
}

/* about */
.about {
  height: 300px;
  background-image: url(./assets/bg-image-about.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.about a {
  text-decoration: none;
  background-color: #f97f0f;
  color: white;
  border-radius: 6px;
  padding: 6px 8px;
  width: 120px;
  text-align: center;
}

.about a:hover {
  background-color: white;
  color: var(--darkgraybackgroundcolor);
}

.about-writings {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .about {
    height: 400px;
  }

  .about h2 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 48px;
  }

  .about p {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

/* what we offer */

.what-we-offer {
  width: 100%;
}

.offer-writings {
  background-color: #b5d5dd;
}

.offer-writings h2 {
  font-family: "Righteous", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}

.offer-writings h5 {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.ul-list li {
}
.what-we-offer li::marker {
  color: #f97f0f;
}
.what-we-offer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.button-offer {
  border: none;
  height: 40px;
  width: 160px;
  background-color: #f97f0f;
  color: white;
  border-radius: 8px;
}

#button2-offer {
  background-color: transparent;
  color: #f97f0f;
  border: 1px solid var(--orangebackgroundcolor);
}

.button-offer:hover {
  background-color: white;
  color: #08748c;
}

#button2-offer:hover {
  color: var(--backgroundcolor);
  border: 1px solid var(--backgroundcolor);
}

@media (min-width: 768px) {
  .sub-offer {
    /* border: 2px solid red; */
    margin-top: 170px;
  }

  .sub-offer h2 {
    text-align: start;
    font-size: 48px;
  }
  .sub-offer h5 {
    text-align: start;
    font-size: 27px;
  }

  .sub-offer ul {
    text-align: start;
  }

  .what-we-offer-btn {
  }
  .button-offer {
    width: 240px;
  }
}

/* how to start  */

.how-to-start {
  text-align: center;
  height: 400px;
}

.how-to-start h2 {
  font-family: "Righteous", sans-serif;
  font-size: 48px;
  font-weight: 500;
  padding-top: 40px;
}

.how-to-start p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-weight: 400;
  padding-top: 20px;
  font-size: 16px;
  padding-bottom: 30px;
}

.how-to-start h4 {
  font-family: "Righteous", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding-top: 10px;
}

.how-to-start p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* padding-bottom: 20px; */
}

@media (min-width: 768px) {
  .how-to-start-sub h4 {
    font-family: "Righteous", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }

  .how-to-start-sub {
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

/* why choose */

.ease {
  height: 270px;
  width: 292.55px;
  background-color: #cfd0ed;
  border-radius: 14px;
  padding: 20px;
}

.flexible {
  height: 270px;
  width: 292.55px;
  background-color: #bfe6dd;
  border-radius: 14px;
  padding: 20px;
}

.personalized {
  height: 270px;
  width: 292.55px;
  background-color: #bfe6dd;
  border-radius: 14px;
  padding: 20px;
}

.pricing {
  height: 270px;
  width: 292.55px;
  background-color: #cfd0ed;
  border-radius: 14px;
  padding: 20px;
}

.why-choose {
  /* border: 2px solid black; */
  padding-top: 200px;
}

.why-choose-writings {
  /* border: 2px solid green; */
  padding: 20px;
  text-align: center;
}

.why-choose-writings h2 {
  font-family: "Righteous", sans-serif;
  font-size: 58px;
  font-weight: 400;
}

.why-choose-writings p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.boxes h2 {
  font-family: "Righteous", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.boxes p {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .why-choose {
    margin-top: -110px;
  }
  .why-choose-writings {
    padding-top: 160px;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .btn-why {
    width: 200px;
  }
}

/*  customer says */

.says-writings h2 {
  font-family: "Righteous", sans-serif;
  font-size: 48px;
  font-weight: 400;
}

.says-writings {
}

.barry {
  width: 264px;
  background-color: #f6fdff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.yuji {
  width: 264px;
  background-color: #f6fdff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.saru {
  width: 264px;
  background-color: #f6fdff;
  border-radius: 15px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 0px #00000040;
}

/* last sec */
#lastsec {
  background-image: url(./assets/last\ sec.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
#lastsec section {
  text-align: center;
}
#lastsec h2 {
  color: white;
  font-weight: 400;
  font-family: "Righteous", sans-serif;
}
#lastsecbtncontainer {
  padding-bottom: 20px;
}
#lastsecbtn1 {
  padding: 12px, 36px, 12px, 36px;
  width: 140px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: #f97f0f;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-family: "Reddit Sans", system-ui;
}
#lastsecbtn1:hover {
  color: #08748c;
  background-color: white;
  cursor: default;
}
#lastsecbtn2 {
  background-color: transparent;
  padding: 12px, 75px, 12px, 75px;
  width: 140px;
  height: 50px;
  border: 1px solid #f97f0f;
  border-radius: 8px;
  color: #f97f0f;
  font-weight: 500;
  font-size: 16px;
  font-family: "Reddit Sans", system-ui;
}
#lastsecbtn2:hover {
  border: 1px solid black;
  color: black;
  cursor: default;
}
@media (min-width: 768px) {
  #lastsec h2 {
    width: 750px;
    height: 120px;
    font-size: 48px;
    font-size: 400;
    margin-bottom: 32px;
  }
}

/* footer */
 
footer{
  padding-top: 10px;
}

.foot {
  width: 90%;
  text-align: center;
  /* border: 2px solid red; */
  margin: 0 auto;
}

input {
  width: 420px;
  height: 59px;
  border-radius: 8px;
  border: none;
}

input::placeholder {
  font-weight: 400;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-size: 18px;
  padding-left: 10px;
}

.in-put {
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: 59px; */
  background-color: white;
  border-radius: 6px;
  padding: 5px;
}

.first-foot {
  /* border: 2px solid green ; */
}

.first-foot p {
  text-align: start;
}

.first-foot a {
  text-decoration: none;
  background-color: #f97f0f;
  color: white;
  border-radius: 6px;
  /* height: 50px; */
  width: 120px;
  padding-top: 20px;
}

.first-foot a:hover{
  background-color: white;
  color: #08748c;
}

.second-foot {
  padding-top: 80px;
}

.second-foot p {
  margin-left: 30px;
}

.second-foot li {
  list-style-type: none;
}

.third-foot {
  padding-top: 80px;
}

@media (min-width: 768px) {
  .foot {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .first-foot {
    width: 420px;
  }

  input {
    width: 420px;
  }

  /* input::placeholder {
    font-weight: 400;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-size: 18px;
    padding-left: -90px;
  } */

  .hello {
    width: 40%;
    display: flex;
    justify-content: space-between;
    gap: 200px;
  }
}
